<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

  <body data-spy="scroll" data-target="#navigation" data-offset="120">
    <!-- Front page field -->
    <section id="intro" class="intro image-background">
      <div class="overlay"></div>
      <div class="content">
        <div class="container clearfix">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
            {{ range .Site.Params.welcome }}
              <p class="roboto">{{ .topline }}</p>
              <!-- We use an image to ensure the logo to appear in the right typeface -->
              <img class="frontimage" src="img\front.png" align="center">
              <p class="roboto">{{ .bottomline }}</p>
            {{ end }}
            </div>
          </div>
        </div>
      </div><a href="#about" class="icon faa-float animated scroll-to"><i class="fa fa-angle-double-down"></i></a>
    </section>

{{ partial "navbar.html" . }}

{{ partial "about.html" . }}   

{{ partial "services.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "textbox.html" . }}

{{ partial "team.html" . }}

<!-- map: disabled --> 
<!-- <section id="map"></section> -->
    
{{ partial "contact.html" . }}

{{ partial "footer.html" . }}