 <!-- about us-->
    <section id="about">
      <div class="container clearfix">
        <div class="row margin-bottom">
          <div class="col-md-6 margin-bottom"> 
            <h2 class="heading">consent matters. communicating it matters too</h2>
           <!--  <p class="lead"> We are the centre of the consent research community and a point of contact for policymakers </p> -->
            <p> {{ .Content }} </p>
            <!-- <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li>considered invitation</li>
                  <li>put rest and must set</li>
                  <li>Estate moment he at on</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li>considered invitation</li>
                  <li>put rest and must set</li>
                  <li>Estate moment he at on</li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="col-md-6 margin-bottom">
            <p><img src="img/template-homepage.png" alt="" class="img-responsive"></p>
          </div>
        </div>
<!--         <div class="row">
          <div class="col-sm-6">
            <h5><i class="fa fa-arrows"></i>Effects present letters inquiry no an removed or friends.</h5>
            <p>Able an hope of body. Any nay shyness article matters own removal nothing his forming.</p>
          </div>
          <div class="col-sm-6">
            <h5> <i class="fa fa-image"></i>Effects present letters inquiry no an removed or friends.</h5>
            <p>Able an hope of body. Any nay shyness article matters own removal nothing his forming.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h5><i class="fa fa-life-ring"></i>Effects present letters inquiry no an removed or friends.</h5>
            <p>Able an hope of body. Any nay shyness article matters own removal nothing his forming.</p>
          </div>
          <div class="col-sm-6">
            <h5> <i class="fa fa-trophy"></i>Effects present letters inquiry no an removed or friends.</h5>
            <p>Able an hope of body. Any nay shyness article matters own removal nothing his forming.</p>
          </div>
        </div> -->
      </div>
    </section>