<div class="col-sm-4 col-md-3">
		<!-- Okay, what I'm trying to put in here is the css/html from here: http://codepen.io/Paulie-D/pen/bqFza -->
            <div class="box">	
	            
					<div class="box overlay">
					 <div class="ontop">
					<!-- <div class="overlay"></div> -->
	            	
	            	<!-- <div class="content-title"> -->
	            		<a href="{{ .Permalink }}" title=""><h7>{{ .Title }}</h7></a>
	            	<!-- </div> -->
	            	
	            	<!-- <div class="content-description">           	 -->
	            		<h8>{{ .Description }}</h8>
	            	</div>            	
	            	</div>

	            		{{ if .Params.image }}	
	            		<img src="img/{{ .Params.image }}" alt="" class="img-responsive">
	            	{{ else }}
	            		<img src="img/portfolio-1.jpg" alt="" class="img-responsive">
	            	{{ end }}
            </div>            
</div>

