<!-- portfolio-->
    <section id="news" class="no-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="heading">News and Research Activity</h2>
            <!-- <p class="text-center">You can make also a portfolio or image gallery.</p> -->
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row no-space">
          {{ range (where .Data.Pages "Type" "news") }}
            {{ partial "news_grid" . }}
          {{ end }}
          </div>
        </div>
      </div>
    </section>