<!-- text-->
    <section id="text" class="section-gray">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-12">
          {{ range .Site.Params.videos }}
            <h2 class="heading">{{ .name }}</h2>
            <div class="row">
              <div class="col-sm-6">
               <!--  <p>Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh. </p>
                <p>Betrayed cheerful declared end and. Questions we additions is extremely incommode. Next half add call them eat face. Age lived smile six defer bed their few. Had admitting concluded too behaviour him she. Of death to or to being other. </p> -->


                <iframe title="YouTube video player" class="youtube-player" type="text/html" 
width="100%" height="390" src="{{ .videoone }}"
frameborder="0" allowFullScreen></iframe>


              </div>
              <div class="col-sm-6">
               <iframe title="YouTube video player" class="youtube-player" type="text/html" 
width="100%" height="390" src="{{ .videotwo }}"
frameborder="0" allowFullScreen></iframe>
              </div>
            </div>
            Video credits: <a href='{{ .url }}'>{{ .credits }}</a>
            {{ end }}

          </div>

        </div>

      </div>
    </section>